
:host{
  position: relative;
}
#confeti {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: var(--p2);

    button{
      z-index: 2;
    }

    h2{
      margin-bottom: var(--p1);
    }

    .cono{
      width: var(--p2);
      height: var(--p2);
      padding-bottom: 0;
      fill: none;
    }
  }
  
  canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

  }
  
  
