
<header class="header">
    <a [routerLink]=" [rootRoute]" fragment="hero" class="logo" aria-label="enlace a la home a través del logotipo">
        <h2 class="logo__title">Tatiana García</h2>
    </a>
    <section class="header__block--right">

        <input type="checkbox" id="active">
        <label for="active" class="menu-btn" aria-label="Menú" role="button">
            <i id="barras" class="fas fa-bars"></i>
            <i id="cerrar" class="fa-solid fa-xmark"></i>
        </label>
        <nav class="main-menu wrapper">
            <div class="icons extra">
                <button aria-label="toggle themes dark and light" class="switch-theme icons__item btn" (click)="switchTheme()">
                    <div class="icons">
                        <i class="fa-solid fa-moon"></i>
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-sun"></i>
                    </div>
                </button>
            </div>
            <ul class="main-menu__ul" >
                    <li class="main-menu__li" *ngFor="let link of links">
                        <a [routerLink]="[rootRoute]" [fragment]="link.fragment" aria-label="Enlace a sección de la home">{{ link.title }}</a>
                    </li>
            </ul>

            <ul class="main-menu__rrss" >
                <li class="main-menu__rrss--li icons-item icons__item btn">
                    <a href="https://www.linkedin.com/in/tatianagarciafrontend/" target="_blank" rel="nofollow noopener" aria-label="enlace al perfil de Linkedin de Tatiana García">
                            <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                <li class="main-menu__rrss--li icons-item icons__item btn">
                    <a href="https://github.com/taticode" target="_blank" rel="nofollow noopener" aria-label="enlace al perfil de Github de Tatiana García">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
            </ul>

        </nav>
    </section>
</header>