
<header class="header">
    <div class="icons logo">
        <img class="logo__img" src="./assets/icons/gatete.png" alt="">
        <h2 class="logo__title">Tatiana García</h2>
    </div>
    <section class="header__block--right">
        <ul class="icons extra">

            <li class="extra__li icons__item">
                <a href="#" >
                    EN
                </a>
            </li>
            <button class="switch-theme icons__item btn" (click)="switchTheme()">
                <span class="icons">
                    <img src="./assets/icons/dark-icons/moon.svg" alt="Tema claro activo">
                </span>
                <span class="icons">
                    <img src="./assets/icons/dark-icons/sun.svg" alt="Tema oscuro activo">
                </span>
            </button>
        </ul>
        <nav class="main-menu">
            <ul class="main-menu__ul">
                <li class="main-menu__li">
                    <a  [routerLink]=" ['/home']"
                        >Home</a>
                </li>
                <li class="main-menu__li">
                    <a  [routerLink]=" ['/projects']">Proyectos</a>
                </li>
                <li class="main-menu__li">
                    <a  [routerLink]=" ['/about']">Sobre mí</a>
                </li>
                <li class="main-menu__li">
                    <a  [routerLink]=" ['/education']">Formación</a>
                </li>
                <li class="main-menu__li">
                    <a  [routerLink]=" ['/experience']">Experiencia</a>
                </li>
                <li class="main-menu__li">
                    <a  [routerLink]=" ['/contact']">Contacto</a>
                </li>
                <li class="extra__li icons__item">
                    <a href="#" >
                        <img *ngIf="activePath" [src]="activePath + 'sun.svg'"  alt="linkedin de Tatiana García, frontend developer" class="icons__img">
                    </a>
                </li>
                <li class="extra__li icons__item">
                    <a href="#" >
                        <img *ngIf="activePath" [src]="activePath + 'github.svg'" alt="github de Tatiana García, frontend developer" class="icons__img">
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</header>