
@import 'src/styles.scss';

.hero{

    background-image: url('../../../assets/background/gracias.jpg');

}

.bg-blue{
    transition: all .5s ;
    animation: colors 4s linear normal backwards;
}

.filled_dark{
    fill: var(--font-hero);
}

.icons{
    @include grid ( grid, repeat(2,1fr),1fr, var(--p2), minmax(0vh, auto));

    &__item{
        margin-right: 0;
    }
}