
@import 'src/styles.scss';

.hero{

    background-image: url('../../../assets/background/gracias.jpg');

}

.bg-blue{
    transition: all .5s ;
    animation: colors 4s linear normal backwards;
}


.icons{
    @include flexible(flex, row, nowrap, space-between, center ); 

    &__item{
        margin-right: var(--p1);

        a{
            @include flexible(flex, row, nowrap, flex-start, center ); 
            color: inherit;
        }
        p{
            padding-bottom: 0;
        }
    }
}
svg{

    width: var(--p2);
    height: var(--p2);
    margin-right: var(--p1);
}