

<section id="contact" class="big-block hero contact">
<!--     Autora de la imagen de fondo: Priscilla Du Preez-->    
    <h2 class="hero__title">Contacto</h2>
    <h2 class="hero__subtitle">Si deseas contactar conmigo, aquí te dejo mis redes sociales</h2>
    <ul class="icons">
        <li class="icons__item btn">
            <a href="https://www.linkedin.com/in/tatianagarciafrontend/" target="_blank" rel="nofollow noopener">
                <i class="fa-brands fa-linkedin"></i>
                <p>Linkedin</p> 
            </a>

        </li>
        <li class="icons__item btn">
            <a href="https://github.com/taticode" target="_blank" rel="nofollow noopener">
                <i class="fa-brands fa-github"></i>
                <p>Github</p>
            </a>
        </li>
    </ul>
    

    <app-confeti></app-confeti>
</section>



