

<section id="contact" class="big-block hero contact">
    <h2 class="hero__title">¡Gracias por leer hasta el final!
        <br>
        <span class="hero__span">Si deseas contactar conmigo, aquí te dejo mis redes sociales</span>
    </h2>
    



    <ul class="icons">
        <li class="icons__item">
            <a href="#">
                <img src="./assets/icons/dark-icons/linkedin.svg" alt="linkedin de Tatiana García, frontend developer">
            </a>
        </li>
        <li class="icons__item">
            <a href="#">
                <img src="./assets/icons/dark-icons/github.svg" alt="github de Tatiana García, frontend developer">
            </a>
        </li>
    </ul>
</section>



