<div class="big-block">
    <h2 class="big-block__h2">Skills</h2>
    <h3>Hard Skills</h3>
    <div class="icons">
        <img src="./assets/icons/dark-icons/javascript.svg" alt="tecnología utilizada: javascript" class="icons__item">
        <img src="./assets/icons/dark-icons/angular.svg" alt="tecnología utilizada: angular" class="icons__item">
        <img src="./assets/icons/dark-icons/sass.svg" alt="tecnología utilizada: sass" class="icons__item">
    </div>
    
    <h3>Soft Skills</h3>
    <p>Creatividad</p>
    <p>Perfeccionismo</p>
    <p>Autodidacta</p>
</div>