<section class="big-block skills">
    <h2 class="big-block__h2">Hard skills</h2>
    <picture class="skills__picture" >
        <div class="icons" *ngFor="let skill of hardSkills">
            <img class="icons__item" [src]=" activePath + skill.img+ '.svg'" [alt]="skill.name" [title]="skill.name">
            <p>{{skill.name }}</p>
        </div>
    </picture>
    <h2 class="big-block__h2">Soft skills</h2>
    <picture class="skills__picture" >

        <div class="icons" *ngFor="let skill of softSkills">
            <img class="icons__item" [src]=" activePath + skill.img+ '.svg'" [alt]="skill.name" [title]="skill.name">
            <p>{{skill.name }}</p>
        </div>
    </picture>

    
</section>