@import 'src/styles.scss';
:host{
    display: block;
    background: var(--background-section);
}


.about{
    background: var(--background-section);
    max-width: var(--max-width-desktop);
    margin-left: auto;
    margin-right: auto;
    @include grid ( grid, 3fr 1fr, 1fr,var(--p3), minmax(10vh, auto));

    &__img{
        width: 100%;
        border-radius: var(--b-radius);
        overflow: hidden;
        box-shadow: var(--p1) var(--p1) 0 0 var(--accent);
    }
}