@import 'src/styles.scss';
:host{
    display: block;
    background: var(--background-section);
}


.about{
    background: var(--background-section);
    max-width: var(--max-width-desktop);
    margin-left: auto;
    margin-right: auto;
    @include gridTwoDifferentColums ( 3fr, 1fr, var(--p2));

    &__img {
        img {

            width: 100%;
            height: auto;
            margin-top: var(--p4);
            border-radius: var(--b-radius);
            overflow: hidden;
        }

    }
}

@media screen and (max-width: 960px){
    .about{
        &__img{
            img{
                width: 15rem;
                height: 15rem;
                margin: var(--p4) auto;
            }
        }
    }
}