<section id="about" class="big-block about">
    <div class="about__half about__info">
        <h2 class="big-block__h2">Sobre mí</h2>
        <p>Soy una desarrolladora frontend y diseñadora UI apasionada por el proceso completo de creación de productos digitales. Desde la ideación y prototipado hasta las pruebas con usuarios, me encanta estar involucrada en todas las etapas.</p>

        <p>Creo que para crear un buen producto digital es esencial la colaboración entre los equipos frontend y UX/UI. Siempre estoy comprometida a hacer cambios y mejoras iterativas en el diseño para adaptarme a las necesidades de los usuarios.</p>
        
        <p>Tengo una gran capacidad de resolución de problemas y soy muy creativa. Además, tengo experiencia trabajando con Figma, una herramienta importante en mi flujo de trabajo, y he desarrollado aplicaciones web utilizando Angular.</p>
        
        <p>Si estás buscando un miembro del equipo que esté comprometido en ofrecer productos digitales excepcionales, no dudes en contactarme. ¡Ah, y no puedo olvidarme de mencionar que adoro los gatos y ese es el motivo por el que decidí incluir a mi compañero felino en mi logo! 🧡</p>
        
    </div>
    <div class="about__half about__img">
        <img src="./assets/img/tatiana-garcia-frontend-developer.jpg" alt="Fotografía de Tatiana García, frontend developer">
    </div>

</section>

