<section id="about" class="big-block about">
    <div class="about__half about__info">
        <h2 class="big-block__h2">Sobre mí</h2>
        <p>
            Como frontend y diseñadora UI, me gusta participar en el proceso completo de la creación de un producto digital, desde la ideación y el prototipado hasta los tests con usuarios. 
        </p>
        <p>
            En mi opinión un producto digital tiene que ser creado a la par por el equipo Frontend y el equipo UX/ UI y tener en cuenta que siempre habrá que seguir haciendo cambios para mejorar, iterando y modificando el diseño para ir adaptándonos a las necesidades de los usuarios.
        </p>
        <p>
            En lo personal, me gusta superar retos, soy una persona creativa y perseverante.
        </p>
        <p>¡Ah! y me encantan los gatos, por eso está el mío en el logo 🧡 .</p>

    </div>
    <div class="about__half about__img">
        <img src="./assets/img/tatiana-garcia-frontend-developer.jpg" alt="Fotografía de Tatiana García, frontend developer">
    </div>

</section>

