@import 'src/styles.scss';

.about{
    max-width: var(--max-width-desktop);
    margin-left: auto;
    margin-right: auto;
    @include grid ( grid, 2fr 1fr, var(--p3), minmax(10vh, auto));


    &__img{
        border-radius: var(--b-radius);
        overflow: hidden;
    }
}