
@import 'src/styles.scss';

.acordeon{
    &__article{

        background-color: var(--background-section);
        border-radius: var(--b-radius);
        padding: var(--p2);
        margin-bottom: var(--p2);
    }
    &__info{

        &--title{
            margin-bottom: var(--p1);
        }
    }

}