<section>
  <article>
    <h3>Nombre del curso <span>Escuela</span></h3>
    <p>Breve descripción del curso</p>
    <div class="icons">
        <img src="./assets/icons/dark-icons/javascript.svg" alt="tecnología utilizada: javascript" class="icons__item">
        <img src="./assets/icons/dark-icons/angular.svg" alt="tecnología utilizada: angular" class="icons__item">
        <img src="./assets/icons/dark-icons/sass.svg" alt="tecnología utilizada: sass" class="icons__item">
    </div>
  </article>
</section>
