
/* =========================COLORS============================= */
:root{
    .dark{


            --background: #1B274B;
            --accent: #E7B28E;
            --accent-70: #EEC9B0;
            --success: #A2B10F;
            --warning: #FCB636;
            --error: #FF6E83;
            --font-color: #F0ECDE;
            --font-color-h2: #1C274B; 
            --card-bg: rgb(51, 63, 101);
            --card-hover: rgb(74, 85, 121);
    
        
    }

    --background: #F0ECDE;
    --accent: #E7B28E;
    --accent-70: #EEC9B0;
    --success: #A2B10F;
    --warning: #FCB636;
    --error: #FF6E83;
    --font-color: #1B274B;
    --font-color-h2: #49526f; 
    --card-bg: #EEC9B0;
    --card-hover: #E7B28E;
    
}
