
.cards{

    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--p2);
    grid-auto-rows: minmax(40vh, auto);

    &__card{

        border-radius: var(--b-radius);
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--card-bg);
        background-blend-mode: soft-light;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;


    }
    &__card:hover{
            transition: var(--transition);
            background-color: var(--card-hover);

    }
    &__box{
        padding: var(--p1) 0;
    }
    &__img{
        overflow: hidden;
    }
    &__info{
        padding: var(--p2) var(--p1);
        width: 100%;
    }
    &__title{
        margin-bottom: var(--p06);
    }
    .icons{
        margin-bottom: var(--p06);
    }
}

