
@mixin flexible( $display, $direction, $corte, $justify, $align){
  display: $display;
  flex-flow: $direction $corte;
  justify-content: $justify;
  align-items: $align;

}


@mixin grid( $display-grid, $template-columns, $template-rows, $grid-gap, $grid-auto-rows ){
  display: $display-grid;
  grid-template-columns: $template-columns;
  grid-template-rows: $template-rows;
  grid-gap: $grid-gap;
  grid-auto-rows: $grid-auto-rows;
}

@mixin fillTipo{
  transition: all .3s cubic-bezier(0,0,.23,1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, var(--accent), var(--accent) 50%, var(--font-color) 0);
  background-size: 200% 100%;
  background-position: 100%;

  &::after{
    transition: var(--transition);
    content: '';
    display: block;
    width: 0%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent);
}
  &:hover {
    background-position: 0;
    color: var(--accent-dark);
    cursor: pointer;
      &::after{
        width: 100%;
    }
  }
}

@mixin fillBtn{
  transition: all .2s cubic-bezier(0,0,.23,1);
  background-image: linear-gradient(90deg, var(--accent-dark), var(--accent-dark) 50%, var(--accent) 0);
  background-size: 200% 100%;
  background-position: 100%;

  &:hover {
    background-position: 0;
    color: var(--background);
    cursor: pointer;
  }
}

@mixin neomorphism {
  border-radius: var(--b-radius);
  background: var(--background);

}



