
@import 'src/partials/_colors.scss';



/* =========================FONT-SIZES============================= */
$sizes: (
    "size-btn": 0.8em,
    "size-p": 1em,
    "size-h4": 1.2em,
    "size-h3": 1.4em,
    "size-h2": 2em,
    "size-h1": 2.8em,
    "size-logo": 1.8em,
    "size-hero": 3em,
    "size-hero-subtitle": 1.7em
    );



/* =========================PADDINGS============================= */


:root{
    --p04: 0.4em;
    --p06: 0.6em;
    --p08: 0.8em;
    --p1: 1em;
    --p2: 2em;
    --p3: 3em;
    --p4: 4em;
    --p5: 5em;
    --p-section: var(--p4);



/* =========================BORDER RADIUS============================= */

--b-radius: 0.5em;


/* ========================== TRANSITION ============================= */

--shadow-accent: 5px 0px 5px var(--accent-dark);


/* ========================== TRANSITION ============================= */

--transition: all .2s ease-in-out;



/* ========================== MAX WIDTH ============================= */

    --max-width-desktop: 1440px;


}

