
<app-header></app-header>



    <section id="home" class="hero">
        <h1 class="hero__title">¡Hola! soy Tatiana García <br> <span class="hero__span">Frontend developer y diseñadora UX-UI</span></h1>
    
        <section class="block-down">
            <a [routerLink]=" ['/']" fragment="projects" class="btn btn-down">
                <img src="./assets/icons/dark-icons/down.svg" alt="" class="btn__img">
            </a>
        </section>
            
    </section>
        

    <main class="main">

    <app-projects></app-projects>
    <app-about></app-about>
    <app-education></app-education>
    <app-skills></app-skills>
    <app-experience></app-experience>
    <app-contact></app-contact>

</main>
