

@import 'src/styles.scss';


.block-down{
  width: 100%;
  position: absolute;
  bottom: var(--p2);
  @include flexible(flex, row, nowrap, center, center ); 
}
.btn-down{
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 50%;
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

  @keyframes bounce-7 {
      0%   { transform: scale(1,1)      translateY(0); }
      10%  { transform: scale(1.1,.9)   translateY(0); }
      30%  { transform: scale(.9,1.1)   translateY(-10px); }
      50%  { transform: scale(1.05,.95) translateY(0); }
      57%  { transform: scale(1,1)      translateY(-4px); }
      64%  { transform: scale(1,1)      translateY(0); }
      100% { transform: scale(1,1)      translateY(0); }
  }



}

.hero{

/*   background-image: url('../../../assets/background/desktop-background.webp'); */
  text-align: center;

}

@media screen and (max-width: 1328px){
  .hero{
    padding: var(--p5) var(--p2);
  }
}
@media screen  and (min-width: 1440px){
  .hero{
  background-image: url('../../../assets/background/desktop-background.webp');
  }

}

@media screen  and (min-width: 960px){
  .hero{
  background-image: url('../../../assets/background/desktop-background-1024.webp');
  }

}
@media screen  and (min-width: 768px) and (max-width: 960px){
  .hero{
  background-image: url('../../../assets/background/desktop-background-960.webp');
  }

}
@media screen  and (min-width: 480px) and (max-width: 768px){
  .hero{
  background-image: url('../../../assets/background/desktop-background-768.webp');
  }

}

@media screen  and (min-width: 320px) and (max-width: 480px){
  .hero{
  background-image: url('../../../assets/background/desktop-background-480.webp');
  }

}
@media screen and (max-width: 320px){
  .hero{
  background-image: url('../../../assets/background/desktop-background-320.webp');
  }

}