
<app-header></app-header>
<main class="main">


    <section class="big-block hero">
        <h1 class="hero__title">¡Hola! soy Tatiana García <br> <span class="hero__span">Frontend developer y diseñadora UX-UI</span></h1>
    
        <section class="block-down">
            <a class="btn btn-down" href="#">
                <img src="./assets/icons/dark-icons/down.svg" alt="" class="btn__img">
            </a>
        </section>
            
    </section>
        



    <app-projects></app-projects>
    <app-about></app-about>
    <app-education></app-education>
    <app-skills></app-skills>
    <app-experience></app-experience>
    <app-contact></app-contact>

</main>
