
@import 'src/styles.scss';

.tabs{
    @include grid ( grid, 1fr 2fr,1fr, var(--p2), minmax(0vh, auto));


    &__menu {
        @include flexible(flex, column, nowrap, flex-start, center);

        &__item{
            width: 100%;

        }

        &__item:not(:last-child){
            margin-bottom: var(--p06);
        }

        &__item.active{
            background-color: var(--accent-dark);
        }
    }
    &__info{ 
        display: none;
        opacity: 0;

        &.active {
            display: block;
            opacity: 100%;
            }

    }

    &__content{
        @include grid ( grid, 1fr 2fr, 1fr, var(--p2), minmax(0vh, auto));
        height: inherit;

    }
    &__picture{
        @include flexible(flex, column, nowrap, flex-start, flex-start);
        &--img{
            border-radius: var(--b-radius);
            height: 10em;
        }


        &--item{
            @include flexible(flex, row, wrap, flex-start, center);
            width: 100%;
            padding: var(--p06) 0;
            border-bottom: 1px solid var(--font-color);

            img{
                width: var(--p1);
                height: var(--p1);
                margin-right: var(--p06);
                object-fit: contain;
            }
            p{
                padding-bottom: 0;
            }
        }

        &--skills{
            @include grid ( grid, repeat(2,1fr), 1fr, var(--p06), minmax(2vh, auto));
            width: 100%;
            margin-top: var(--p1);

        }
    }

    &__datos{
        @include flexible(flex, column, nowrap, flex-start, flex-start);
        border-radius: var(--b-radius);
        a{
            margin-top: var(--p1);
            font-weight: 600;
            width: fit-content;
            @include fillTipo;
            background-image: linear-gradient(90deg, var(--accent-dark), var(--accent-dark) 50%, var(--accent) 0);

        }
    }


    &__title{
        margin-bottom: var(--p06);
    }
    
    





}
