
    <ul class="tabs">
        <li class="tabs__item" *ngFor="let tab of dataTabs; let i = index" (click)="setSeleccionado(i)">
            <img class="tabs__picture--img" [src]="tab.thumbnail" [alt]="tab.tumbnailAlt">

            <div class="tabs__datos">
                <h3 class="tabs__title">{{tab.textItem}}</h3>
                <p>Escuela: {{tab.escuela}}</p>
                <p>Duración: {{tab.horas}}</p>
                <p>Fecha de fin: {{tab.finalizado}}</p>
                <h4>Descripción</h4>
                <p>{{tab.knowledge}}</p>
                <a class="btn" *ngIf="tab.link" href="{{tab.link}}" target="_blank" rel="nofollow noopener" aria-label="enlace al curso">Ir al curso</a>


            </div>
        </li>

    </ul>


