
@import 'src/styles.scss';

.tabs{
    img{
        border-radius: var(--b-radius);
    }
    &__item{
        @include gridTwoDifferentColums (1fr, 2fr, var(--p2));
        margin-bottom: var(--p2);
        padding: var(--p2);
        background: var(--background-section);
        border-radius: var(--b-radius);
    }

}

