@import '_reset';
@import '_colors';
@import '_variables';
@import '_responsive';
@import '_mixins';
@import '_states';


@font-face {
        font-family: 'Arial Narrow';
        src:    local('Arial Narrow'),
                local('Arial-Narrow'),
                url('assets/fonts/Arial Narrow.ttf') format("ttf");
}

@font-face {
        font-family: 'Futura';
        src:    local('Futura'),
                local('Futura'),
                url('assets/fonts/Futura.ttc') format("ttf");
}

@font-face {
        font-family: 'Impact';
        src:local('Impact'),
        local('Impact'),
        url('assets/fonts/Impact.ttf') format("ttf");
}


body{   
        background-color        : var(--background);
        background-image        : url('assets/background/ruido.svg');
        color                   : var(--font-color);

}

h1{ 
        font-family: 'Impact';
        font-size: map-get($sizes , "size-h1" ); 

}

.hero__title{
        font-family: 'Impact';
        letter-spacing: 0.03em;
        color: var(--font-hero);
        font-size: map-get($sizes , "size-hero" ); 
}
.hero__subtitle{
        color: var(--font-hero);
        font-family: "Futura";
        margin-bottom: var(--p2);
        font-size: map-get($sizes , "size-hero-subtitle" );
}

h2{
        font-family     : 'Impact';
        font-size       : map-get($sizes , "size-h2" );
        letter-spacing: 0.03em;
}


h3{
        font-family     : 'Futura';
        font-size       : map-get($sizes , "size-h3" );
        font-weight: bold;
        letter-spacing: 0.03em;
}

h4{
        font-family     : 'Futura';
        font-size       : map-get($sizes , "size-h4" );
}

p{
        font-size: map-get($sizes , "size-p" );
        padding-bottom: var(--p06);
        line-height: 1.5;
}


body{
        user-select: none;
}

button{
        outline: none;
}

.header{
        padding: 0 var(--p4);

}
.main{

        margin: 0 auto;
}

.big-block{

        padding: var(--p4) var(--p4);
        margin-top: var(--p4);
        &__h2{
                margin-bottom: var(--p1);
        }

}
.hero{
        text-align: center;
        min-height: 100vh;
        @include flexible(flex, column, nowrap, center, center ); 
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        background-color:var(--background-hero);
        background-blend-mode: multiply;

}

.icons{
        @include flexible(flex, row, nowrap, center, center ); 
        padding: var(--p06);
        &__item{
                width: var(--p2);
                height: 100%;

        }
        &__link{
                width: 100%;
        }
        &__img {
                width: 100%;
                height: 100%;
        }
} 


a{
        color: var(--font-color);
}

.btn{
        position: relative;
        text-align: center;
        border-radius: var(--b-radius);
        padding: var(--p1) var(--p1) ;
        width: fit-content;
        overflow: hidden;
        color: var(--btn-font-color);
        @include fillBtn;
        @include neumorphism;

        cursor: pointer;
        transition: var(--transition);

        &__img {
                width: var(--p1);
                height: 100%;
        }
        &.active {
                background: var(--accent-dark);
                }
}

.btn-up, .btn-down{
        width:  var(--p2);
        height: var(--p2);
        padding: var(--p06);
        bottom: var(--p2);
        right: var(--p4);
        position: fixed;
        z-index: 20;
        @include flexible(flex, row, nowrap, center, center ); 

}


.filled_dark{
        fill: var(--font-color);
        transition: var(--transition);
        transform-origin: center left;
        
        :hover{
        cursor: pointer;
        }
}


.icons-item:hover{
        .filled_dark{
                transition: var(--transition);
                fill: var(--accent);
        }
}




@media screen and (max-width: 1328px){
        html{
                font-size: 1.1em;
        }

        .big-block{
        
                padding: var(--p2);
                margin-top: var(--p2);
                &__h2{
                        margin-bottom: var(--p04);
                }
        
        }
        
}



@media screen and (max-width: 960px){



}

@media screen and (max-width: 768px){



}